@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:wght@100&display=swap');
body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418) ), url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80');
    background-size: cover;
    background-position: center;
}
.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.city {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    color: white;
    background: linear-gradient(135DEG, RGBA(255,255,255,0.1), RGBA (255,255,255,0));
    backdrop-filter: BLUR(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 0.5px solid RGBA(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 RGBA(black);
}
.country-sup {
    background-color: rgb(104, 58, 58);
    border-radius: 4px;
}
.temperature {
    font-size: 30px;
    font-weight: bolder;
}
.search {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    opacity: 50%;
    border: none;
    font-size: 18px;
}
.information {
    text-transform: uppercase;
}